#root {
  margin-left: 400px;
  margin-top: 50px;
}


#popover {
  width: 400px;
  min-height: 200px;
  max-height: 400px;
  /* height: 400px; */
  border: 1px solid black;
  overflow: hidden;
}

#popover img {
  transition: 0.1s;

}